*
{
    margin:0;
    padding:0;
}

ul,
li
{
    list-style: none;
}

body
{
    background: #bfbfbf url("../images/background.jpg") repeat-x;
    font-family: Arial, sans-serif;
}

/* Fonts */
@font-face {
    font-family: 'Limelight';
    src: url("../fonts/Limelight-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Lobster';
    src: url("../fonts/Lobster-Regular.ttf");
    font-style: normal;
    font-weight: normal;
}

h1,
h2
{
    font-family: Limelight, cursive;
}

h3,
main section:last-child p
{
    font-family: Lobster, cursive;
}

/**
--- HEADER ---
 */

header
{
    padding: 30px 0;
}

header h1
{
    font-size: 40px;
    text-align:center;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;
}



/*
--- MENU ---
 */
main ul
{
    width: 980px;
    height:500px;
    margin:0 auto;
    padding-top: 148px;
}

main ul li
{
    float:left;
    width:140px;
    height:500px;
    overflow: hidden;
    position: relative;
}


/* Affichage images */
.bw,
.color
{
    position:absolute;
    width: 140px;
    height: 500px;
    cursor: pointer;
}
.bw
{
    background: url("../images/bw-image.jpg") no-repeat;
    opacity: 0.7;
    left:0;
}
.color
{
    background: url("../images/color-image.jpg") no-repeat;
    left:140px;
}


/* Décalage images */
#part2 div /*main li:nth-child(1) section:first-child */
{
    background-position: -140px 0;
}

#part3 div
{
    background-position: -280px 0;
}

#part4 div
{
    background-position: -420px 0;
}

#part5 div
{
    background-position: -560px 0;
}

main section:last-child /*description*/
{
    position:absolute;
    left:140px;
    width: 240px;
    height:460px;
    padding: 20px;
    background-color: #fff;
}

main section:last-child h2
{
    padding-top: 20px;
    font-size:30px;
    text-align: center;
    color:#333;
    text-transform: uppercase;
}

main section:last-child h3
{
    margin-top: 30px;
    padding:10px;
    font-size:26px;
    background: #d70000;
    color: #fff;
    text-align: center;
    text-shadow: 1px 1px 1px #000;
}

main section:last-child p
{
    padding-top: 35px;
    font-size:22px;
    color: #000;
    text-align:center;
}
