/*.left{
    height:450px;
    width:200px;
    background-color:blue;
    position:static;
}

.right{
    height:500px;
    width:150px;
    background-color:red;
    position:relative;
    top:100px;
    left:300px;
}

.left{
    height:1450px;
    width:200px;
    background-color:blue;
    position:static;
}

.right{
    height:250px;
    width:150px;
    background-color:red;
    position:fixed;
    bottom:0px;
    right:0px;
}*/

.left{
    height:1450px;
    width:200px;
    background-color:blue;
}

.right{
    height:250px;
    width:150px;
    background-color:red;
    position:absolute;
    top:100px;
    left:100px;
}

#container{
    position:relative;
    margin-top:200px;
    margin-left:200px;
    
}