body {
    font-family: 'Lato', sans-serif;
    margin: 70px 0px;
    background: #0069d6;
}

hr {
    width:100px;
    height: 2px;
    background: #ffa500;
    margin: 0 auto 20px;
}
header {
    text-align: center;
    padding-bottom: 40px;        
}

h2 {
    text-transform: uppercase;
    font-weight:bold;
    color: #fff;
}
#contact-form {
    font-size: 20px;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
}